WebService的使用/Web References/CustomDataArrayService/CustomDataArrayWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAddresses">
        <s:complexType />
      </s:element>
      <s:element name="GetAddressesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAddressesResult" type="tns:ArrayOfAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZIP" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddresses" />
  </wsdl:message>
  <wsdl:message name="GetAddressesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressesResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomDataArrayWebServiceSoap">
    <wsdl:operation name="GetAddresses">
      <wsdl:input message="tns:GetAddressesSoapIn" />
      <wsdl:output message="tns:GetAddressesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomDataArrayWebServiceSoap" type="tns:CustomDataArrayWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddresses">
      <soap:operation soapAction="http://tempuri.org/GetAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomDataArrayWebServiceSoap12" type="tns:CustomDataArrayWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddresses">
      <soap12:operation soapAction="http://tempuri.org/GetAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomDataArrayWebService">
    <wsdl:port name="CustomDataArrayWebServiceSoap" binding="tns:CustomDataArrayWebServiceSoap">
      <soap:address location="http://localhost:32339/CustomDataArrayWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomDataArrayWebServiceSoap12" binding="tns:CustomDataArrayWebServiceSoap12">
      <soap12:address location="http://localhost:32339/CustomDataArrayWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>